ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: burlywood;
}

.val{
   background-color: rgb(38, 38, 158);
   color: white;
   padding: 5px;
   width: 70px;
}

.annu{
    background-color: red;
    color: white;
    padding: 5px;
 }

 .container{
    padding: 30px;
    border-radius: 10px 10px 10px 10px;
    background-color: burlywood;
    align-items: center;
    gap: 20px;
 }

 .cont{
   justify-content: center;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   margin-left: 24%;
   gap: 20px;
 }

 input{
   height: 30px;
   border-radius: 5px 5px 5px 5px;
   border: 1px solid white;
   outline: none;
   width: 300px;
   justify-content: center;
   align-items: center;

 }

 .butt{
    display: flex;
   align-items: center;
   text-align: center;
   gap: 20px;
   justify-content: center;
  }

  @media screen and (max-width: 412px){
    .container{
        padding-left: 100px;
        
     }

     .butt{
        padding-left: -20px;
      }
  }